/* reset css */
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

table {
  border: none;
  border-spacing: 0;
  border-collapse: collapse;
}

th,
td {
  text-align: initial;
}

:root {
  /* basic setting */
  --body-bg: #f8f7fc;
  --body-color: #18253d;
  --table-background-color: #ffffff;
  --header-color: #cdcdcd;
  --header-text-color: black;
  --main-text-color: black;
  --white: #fff;
  --dark-gray: #4a4a4a;
  --light-gray: #cdcdcd;
  --gray-text: #828282;
  --table-grey-text: #828282;
  --zebra-color: #e9e9e9;
  --background-grey: #f3f3f3;
  --background-white: white;
  --orange: #ff6500;
  --nav-bg: #03396a;
}

/* Dark Theme Settings */
[data-theme="dark"] {
  --body-bg: #202020;
  --body-color: white;
  --table-background-color: #3a3a3a;
  --header-color: #2e2e2e;
  --main-text-color: white;
  --header-text-color: #aaaaaa;
  --white: white;
  --dark-gray: #3a3a3a;
  --light-gray: #e4e4e4;
  --table-grey-text: rgba(255, 255, 255, 37%);
  --zebra-color: #575757;
  --background-white: #6b6b6b;
  --orange: #ff6500;
  --nav-bg: #2e2e2e;
}

html {
  font-size: 16px;
  height: 100%;
  color: var(--main-text-color);
}

body {
  height: 100%;
  background: var(--body-bg);
  color: var(--body-color);

  font-family: "PingFang TC";
}

#main-app {
  height: 100%;
}

/* Navbar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  background-color: var(--nav-bg);
  padding-top: 30px;
  height: 100%;
  .sidebar-logo {
    min-height: 64px;
    max-width: 100%;
    margin-bottom: 83px;
  }
  .sidebar-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    img {
      width: 40px;
      height: 40px;
    }
    .sidebar-menu-icon {
      margin-bottom: 60px;
      padding: 5px;
    }
    .active {
      background-color: var(--white);
    }
    .sidebar-darkmode-input {
      display: none;
    }
  }
}

/* main */
#main {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 42px 50px 68px 150px;
  .main-title {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
  }
  .main-wrapper {
    width: 100%;
    height: 80%;
    overflow-y: scroll;
    .main-table {
      background: var(--table-background-color);
    }
    .main-title {
      background: var(--header-color);
      color: var(--header-text-color);
    }
    .table-header {
      z-index: 2;
      position: fixed;
      background: var(--header-color);
      color: var(--header-text-color);
      img {
        width: 20px;
        height: 20px;
      }
    }
    .table-row {
      height: 50px;
      position: sticky;
      top: 0;
      z-index: 1;
      border-bottom: 1px solid var(--border-color);
      .table-cell {
        text-align: center;
      }
      .table-cell-id {
        width: 80px;
      }
      .table-cell-name {
        width: 140px;
      }
      .table-cell-advertiser {
        width: 140px;
        .advertiser-name,
        .advertiser-group {
          display: block;
        }
        .advertiser-group {
          color: var(--table-grey-text);
        }
      }
      .table-cell-description {
        width: 200px;
      }
      .table-cell-price {
        width: 140px;
        position: relative;
      }
      .table-cell-start-time {
        width: 140px;
        position: relative;
      }
      .table-cell-end-time {
        width: 140px;
        position: relative;
      }
      .table-cell-action {
        width: 210px;
        position: relative;
        /* action's popup */
        .action-menu {
          background: var(--background-white);
          border: 1px solid var(--border-color);
          z-index: 999;
          position: absolute;
          right: 50%;
          top: 100%;
          width: 140px;
          height: 130px;
          .action-menu-wrapper {
            display: flex;
            flex-direction: column;
            padding-left: 12px;
            margin-top: 5px;
          }
          .actions-icon {
            display: flex;
            align-items: center;
            cursor: pointer;
            height: 40px;
          }
          img {
            width: 30px;
            height: 30px;
            cursor: pointer;
            margin-right: 15px;
          }
        }
        .hidden {
          display: none;
        }
      }
      .sort-icon,
      .menu-icon {
        cursor: pointer;
      }
      .sort-icon {
        position: absolute;
        right: 0;
        top: 12px;
      }
      .menu-icon {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
